* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.container {
    width: auto;
    margin: auto;
}
.chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-header {
    display: flex;
    cursor: pointer;
    width: 100%;
    background-color: lightsteelblue;
    display: flex;
    align-items: center;
    height: 65px;
    position: centered;
    display: relative;

}
.chat-header img {
   max-width: auto;
   max-height: 85px;
   margin-left: 0%;
   border-radius: 5px;
   display: flex;
   padding: 3px;
}
.chat-header span {
    display: flex;
}
.chat-header h2 {
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 175%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.chat-header #reset{
    margin-right: 0%;
    align-items:stretch;
}

.chat-box {
    flex: 1;
    background: url('../');
    background-attachment: fixed;
    padding-left: 20px;
    overflow-y: scroll;
    background-color:lavenderblush;
}
.chat-r {
    display: flex;
}
.chat-r .sp {
    flex: 1;

}
.chat-l {
    display: flex;
}
.chat-box #anime {
    max-width: 350px;
    min-width: relative;
    max-height: relative;
    /* background: paleturquoise; */
    padding: auto;
    border-radius: auto;
    margin-right: auto;
    display: relative;
    font-family:'Arial Narrow';
    size: relative;
}
.chat-box #promptMessages {
    /* max-width: 350px;
    min-width: relative;
    max-height: relative; */
    /* background: paleturquoise; */
    padding: auto;
    border-radius: auto;
    margin-right: auto;
    display: relative;
    font-family:'Arial Narrow';
    size: relative;

    clear: both;

}
.chat-box #guest {
    max-width: 350px;
    max-height: relative;
    background: lemonchiffon;
    padding: auto;
    border-radius: auto;
    margin-left: auto;
    display: relative;
    font-family:'Arial Narrow';
    size: relative;

}

.chat-box .message p {
    word-break: normal;
    font-size: 18px;
}
.chat-animeSide .animeGIF {
    max-width: 300px;
    max-height: relative;
    border-radius: 15px;
}
.chat-myside .check {
    float: right;
}
.chat-user-side .check {
    float: left;
}
.chat-user-side {
  position: relative;
  top: 0;
  right: 0;
}

.chat-myside {
  margin-bottom: 200px;
}

.chat-box .timeStamp span {
    font-size: 12px;
    font-weight: 700px;
}
.chat-footer {
    justify-content: centered-right;
    position: relative;
    cursor: pointer;
    height: min-content;
    padding-bottom: 20px;
    background-color: lightsteelblue;
}
.chat-footer textarea {
    position: static;
    display: ruby-text-container;
    flex: 1;
    width: 75%;
    height: 30px;
    border-radius: 80px;
    margin-top: 15%;
    padding: 10px;
    outline: none;
    font-size: 19px;
    border: 2px solid #ccc;
    color: #555;
    resize: none;
}
.chat-footer .submit{
    display: block;
    height: 25px;
    width: 25px;
    position: relative;
    margin-left: 85%;
    font-weight: normal;
}

*::-webkit-scrollbar {
	width: 5px;
}
*::-webkit-scrollbar-track {
	background: #f1f1f1;
}

#guest {
  /* width: 100%; */
  margin-top: 30px;
  /* border: solid 0.25px rgba(0, 0, 0, 0.219); */
  border-radius: 5px;
  text-align: center;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  animation: forwardIn forwards 0.25s;
  margin-right: 15px;
}

#anime {
  margin-top: 30px;
  background-color: paleturquoise;
  /* border: solid 0.25px rgba(0, 0, 0, 0.219); */
  border-radius: 5px;
  text-align: center;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  animation: forwardIn forwards 0.25s;
}


#promptMessages {
  width: 100%;
}


@keyframes forwardIn {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}

.timestamp {
  animation: forwardIn forwards 0.25s;
  margin-left: 105px;
  font-size: small;
  color: rgba(82, 82, 82, 0.767);
  font-weight: 700;
}

.timestamp2 {
  animation: forwardIn forwards 0.25s;
  float: right;
  margin-right: 125px;
  font-size: small;
  color: rgba(82, 82, 82, 0.767);
  font-weight: 700;
}