* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}
.container {
    width: auto;
    margin: auto;
} 
.chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-header {
    display: flex;
    cursor: pointer;
    width: 100%;
    background-color: lightsteelblue;
    display: flex;
    align-items: center;
    height: 65px;
    padding-left: 15%;
    position: centered;
    
}
.chat-header h2 {
    align-items: centered;
    font-weight: bold;
    margin-top: 10px;
    font-size: 120%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}
.chat-header #reset{
    margin-right: 0%;
    
}

.chat-box {
    flex: 1;
    background: url('../');
    background-attachment: fixed;
    padding-left: 20px;
    overflow-y: scroll;
    background-color:lavenderblush;
}
.chat-r {
    display: flex;
}
.chat-r .sp {
    flex: 1;

}
.chat-l {
    display: flex;
}
.chat-box .message {
    max-width: 350px;
    max-height: relative;
    background: paleturquoise;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0px;
    cursor: pointer;
    display: relative;
    font-family:'Arial Narrow';

}
.chat-box .message p {
    word-break: normal;
    font-size: 18px;
}
.chat-box .mess-r {
    background: lemonchiffon;
    align-items: center;
    margin-left: auto;  
    size: relative;
}
.chat-myside .gif {
    max-width: 300px;
    max-height: relative;
} 
.chat-myside .check {
    float: right;
}
.chat-user-side .check {
    float: left;
}
.chat-box .check span {  
    font-size: 12px;
    font-weight: 700px;
}
.chat-footer {
    
    justify-content: centered-right;
    align-items:
    border-radius: 60px;
    position: relative;
    cursor: pointer;
    width: ;
    height: min-content;
    padding-bottom: 20px;
    background-color: lightsteelblue;
}
.chat-footer .input {
    margin-left: auto;
    display: flex;
    
}
.chat-footer textarea {
    position: static;
    display: ruby-text-container;
    flex: 1;
    width: 75%;
    height: 30px;
    border-radius: 80px;
    margin-top: 15%;
    padding: 10px;
    outline: none;
    font-size: 19px;
    
    border: 2px solid #ccc;
    color: #555;
    resize: none;
}
.chat-footer .submit{
    display: block;
    height: 25px;
    width: 25px;
    position: relative;
    margin-left: 85%;
    font-weight: normal;
}

*::-webkit-scrollbar {
	width: 5px;
}
*::-webkit-scrollbar-track {
	background: #f1f1f1;
}
