* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.container {
    width: auto;
    margin: auto;
} 
.chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-header {
    display: flex;
    cursor: pointer;
    width: 100%;
    background-color: lightsteelblue;
    display: flex;
    align-items: center;
    height: 65px;
    padding: 0% 10px;
    position: relative;
}
.chat-box {
    flex: 1;
    background: url('../');
    background-attachment: fixed;
    padding-left: 20px;
    overflow-y: scroll;
    background-color:lightsteelblue;
}
.chat-r {
    display: flex;
}
.chat-r .sp {
    flex: 1;

}
.chat-box .message {
    max-width: 300px;
    background: paleturquoise;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0px;
    cursor: pointer;

}
.chat-box .message p {
    word-break: break-all;
    font-size: 18px;
}
.chat-box .mess-r {
    background: lemonchiffon;
}
.chat-myside .gif {
    width: 20px;
} 
.chat-box .check {
    float: right;
}
.chat-box .check span {  
    font-size: 12px;
    font-weight: 700px;
}
.chat-footer {
    display: flex;
    justify-content: center;
    align-items: left;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
}
.chat-footer textarea {
    display: block;
    flex: 1;
    width: 75%;
    height: 30px;
    border-radius: 80px;
    margin: 5px;
    padding: 10px;
    outline: none;
    font-size: 19px;
    padding-left: 40px;
    padding-right: 90px;
    border: 2px solid #ccc;
    color: #555;
    resize: none;
}